[mysql connection]
servername = MYSQL_HOST
username = MYSQL_USERNAME
password = MYSQL_PASSWORD
database = MYSQL_DATABASE

[acceptance test]
querious_repo = https://raw.githubusercontent.com/pendenga/querious_queries/master/query/
username = pendenga
